body {
    background-color: red;
}

h1 {
    color:white;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}

p {
    color:white;
    
}
#wallpoet {
    font-family: 'Wallpoet', cursive;
    font-size: 20px;                        
}

#Covered {
    font-family: 'Covered By Your Grace', cursive;
    fon}

#Amatic {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

